@CHARSET "UTF-8";

.namecards-throbber {
	background-image: url("./images/throbber.gif");
  background-position: 5px -20px;
  background-repeat: no-repeat;
  height: 20px;
}

/* Admin settings */
.namecards-scan-orphan-nodes-button {
  float: left;
}
#namecards-scan-orphan-nodes-results {
  float: left;
  padding-left: 10px;
}

/* CSV file download */
.namecards-download-cvs-link {
	display: block;
	width: 26px;
  height: 20px;
  text-indent: -99999px;
	background: url('./images/vcard.gif') no-repeat;
}

/* Views */
.view-id-namecards_browse_contacts ul,
.view-id-namecards_contacts_by_org ul,
.view-id-namecards_contacts_by_event ul {
	list-style-type: none;
  list-style-image: none;
	text-indent: -1em;
	margin: 0;
  padding: 0;
}
.namecards-icon-own-public {
  display: block;
  width: 9px;
  height: 11px;
  background: url('./images/own-public.png') no-repeat;
}
.namecards-icon-own-private {
  display: block;
  width: 9px;
  height: 11px;
	background: url('./images/own-private.png') no-repeat;
}
	
.namecards-icon-other-public {
  display: block;
  width: 9px;
  height: 11px;
	background: url('./images/other-public.png') no-repeat;
}
.namecards-icon-other-private {
  display: block;
  width: 9px;
  height: 11px;
	background: url('./images/other-private.png') no-repeat;
}
a.namecards-details-link {
	display: block;
	text-indent: -99999px;
	background: url('./images/detail-edit-delete-icons.png') no-repeat;
	width: 30px;
	height: 30px;
}
a.namecards-delete-link {
  display: block;
  text-indent: -99999px;
  background: url('./images/detail-edit-delete-icons.png') no-repeat -30px 0px;
  width: 30px;
  height: 30px;
}
a.namecards-edit-link {
  display: block;
  text-indent: -99999px;
  background: url('./images/detail-edit-delete-icons.png') no-repeat -60px 0px;
  width: 30px;
  height: 30px;
}

/* Contact details */
.namecards-table-header-cell {
	font-weight: bold;
	width: 200px;
}
.namecards-email-link {
  display: block;
  float: left;
  width: 20px;
  height: 15px;
  text-indent: -99999px;
  background: url('./images/mail.png') no-repeat;
  margin: 5px 5px 0 0;
}
.namecards-address-compound-field {
	padding-bottom: 15px;
}
#edit-namecards-live-search-textfield-wrapper {
  display: inline-block;
}
.namecards-row-highlight-color {
  /*
	  Changing the color of this property will
		change the color of row highlighting on mouse
		over event.
	*/
	background-color: #c9c9dd;
} 
.namecards-row-selected-color {
	/*
	  Changing the color of this property will
		change the color of row highlighting when
		checkbox is checked.
	*/
	color: #99bdf8;
}
.namecards-number-type-work,
.namecards-number-type-home,
.namecards-number-type-other {
	font-size: 0.7em;
	padding: 2px;
}
.namecards-number-type-work {
  display: inline-block;
  background: url('./images/namecards_phone_number_icons.png') no-repeat 0px 0px;
  width: 16px;
  height: 16px;
  text-indent: -99999px;
  padding: 0;
  margin: 0;
}
.namecards-number-type-home {
  display: inline-block;
  background: url('./images/namecards_phone_number_icons.png') no-repeat -16px 0px;
  width: 16px;
  height: 16px;
  text-indent: -99999px;
  padding: 0;
  margin: 0;
}
.namecards-unknown-value {
	color: grey;
}
.namecards-compact-link-table-cell {
  width: 50px;
}
.namecards-compact-link-wrapper {
	position: relative;
	width: 49px;
}
.namecards-compact-link-default {
  position: relative;
	height: 30px;
	width: 30px;
	-moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
	float: left;
	border: 1px solid #B3B3B3;
}
.namecards-compact-link-selector {
  width: 15px;
	height: 30px;
	background-color: #E6E6E6;
	background: url('./images/detail-edit-delete-icons.png') no-repeat -90px 0px #E6E6E6;
	float: left;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #B3B3B3;
	border-left-style: none;

}
.namecards-compact-link-menu {
  position: absolute;
	top: 32px;
	left: 31px;
	z-index: 1;
	background-color: #F2F2F2;
	height: 60px;
	width: 30px;
	border: 1px solid black;
	border-radius: 4px;
}
.namecards-compact-link-wrapper ul.namecards-compact-link-list {
  margin: 0;
	padding: 0;
}
.namecards-compact-link-wrapper ul.namecards-compact-link-list li {
  margin: 0;
	padding: 0;
}

.namecards-compact-link-wrapper ul.namecards-compact-link-list li a {
  width: 30px;
	height: 30px;

}
.namecards-compact-link-mouse-over {
  background-color: #F2F2F2;
}
.namecards-compact-link-default-no-options {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* Ctools modal */

.namecards-ctools-modal-content {
	-moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 4px 4px 16px #000;
  -webkit-box-shadow: 4px 4px 16px #000;
  box-shadow: 4px 4px 16px #000;
}
.namecards-ctools-modal-content .modal-header {
  position: relative;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 2px;
  height: 30px;
  line-height: 30px;
}
/* .namecards-ctools-modal-content .modal-title {
  position: absolute;
  display: inline-block;
  top: 50%; 
  height: 30px; 
  margin-top: -15px
} */

.namecards-ctools-modal-content a.close {
	/* display: block; */
	height: 16px;
	width: 16px;
	margin-top: 5px;
  margin-right: 2px;
}
.namecards-ctools-modal-content a.close img,
#namecards-close-modal-img {
	position: absolute;
	top: 50%; 
	height: 16px; 
	margin-top: -8px;
}

/*
 * 
 */
#edit-namecards-namecard-department,
#edit-namecards-namecard-event,
#edit-namecards-namecard-position,
#edit-namecards-namecard-organization {
	position: relative;
}
