@CHARSET "UTF-8";
#namecards-import-export-csv-file {
	background-color: #FCDE32;
}
#namecards-import-export-contacts-download-file-link {
	display: block;
	color: black;
	padding: 5px;
	margin: 5px 2px;
	border: 1px solid #FC8F00;
	text-decoration: none;
  -moz-border-radius: 7px; /* For firefox */
  border-radius: 7px;
  -webkit-border-radius: 7px;    /* For Safari */
}
#namecards-import-export-contacts-download-file-link:hover {
  color: black;
  background-color: #FC8F00;
  text-decoration: none;
}
#namecards-import-export-csv-file ul {
  position: relative;
  white-space: nowrap;
  list-style: none;
  margin: auto;
  padding: 0;
  height: auto;
}
#namecards-import-export-csv-file ul li {
	display: inline-block;
}
#namecards-download-file-close {
	position: absolute;
	right: 5px;
	top: 50%; 
  height: 16px; 
  margin-top: -8px;
}
